.map {
  height: 100%;
}

.menu {
  position: absolute;
  top: 140px;
  right: 10px;
  height: 400px;
  width: 240px;
  border: 1px solid white; 
  background:rgba(0,0,0,0.5);
  z-index:1000;
}

.menu-bar {
  position: relative;
  top: 0;
  height: 30px;
  border-bottom: 1px solid white; 
  background:rgba(255,255,255, 0.5);
}

.menu-bar-title {
  position: relative;
  top: 4px;
  padding: 12px;
  color: white;
}

.theme-checkbox {
  position: absolute;
  bottom: 12px;
  left: 12px;
  color: white;
}
